

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
 
.sidebar-nav {
    padding: 9px 0;
}
 
@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


p.block {
    border-style: solid;
    border-color: black;
    border-radius:15px;
}

p.heading
{
    font-family:Sans-serif;
    font-weight:bold;
    
    }

p.content
{
    font-family:Sans-serif;
    font-weight:normal;
    
    }
.tableContent, th, td{
   border: 1px solid black;
   text-align:center;
   table-layout : fixed;
   padding: 10px;
   
} 

.tableAggregates, th, td {
   border: 0px solid black;
   text-align:center;
   table-layout : fixed;
   width:100%;
   padding: 20px;
} 

.navbar-custom {
    color: Black;
    background-color: #99ccff;
}
.hello{
    border:1px solid #000;
    display:table-cell;
    max-width:100%;
    padding:10px;
    overflow:hidden;
    white-space:nowrap
}
